name: Sync migu files to Gitee

on:
  push:
    branches:
      - main
    paths:
      - "migu.m3u"
      - "migu.txt"

  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

      - name: Add Gitee remote
        run: |
          git remote remove gitee || true
          git remote add gitee https://oauth2:${{ secrets.GITEE_TOKEN }}@gitee.com/bmg369/test.git

      - name: Fetch Gitee
        run: |
          git fetch gitee || true

      - name: Commit changed files
        run: |
          git add migu.m3u migu.txt

          if git diff --cached --quiet; then
            echo "No changes"
            echo "skip_push=true" >> $GITHUB_ENV
          else
            git commit -m "Auto sync migu files"
            echo "skip_push=false" >> $GITHUB_ENV
          fi

      - name: Push to Gitee
        if: env.skip_push == 'false'
        run: |
          git push gitee HEAD:main --force
